# Ignore environment variable files
.env

# Python
__pycache__/
*.py[cod]

# Node
node_modules/
**/node_modules/

# Build output
dist/
**/dist/

# Poetry
.poetry
*.pyc
.venv


# React build output
build/
**/build/
